.mainContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1f;
  font-family: "Roboto", sans-serif;

  .wrapper {
    .middleSearch {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .input {
        // animation: myAnim 2s ease 0s 1 normal forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 75px;
        gap: 10px;
        input {
          width: 500px;
          height: 50px;
          font-size: 26px;
          border-radius: 10px;
          border: none;
          text-align: center;
        }
        input:focus {
          outline: none;
          border: 2px solid green;
        }

        button {
          width: 100px;
          height: 50px;
          border: none;
          cursor: pointer;
          transition: 0.3s ease-out;
        }

        button:hover {
          background-color: transparent;
          border: 2px solid white;
          color: white;
          transition: 0.3s ease-in;
        }
      }

      .movieDisplay {
        // display: flex;
        // justify-items: center;
        // align-items: center;
        color: white;

        .imageDisplay {
          display: flex;
          align-items: flex-start;
          img {
            // animation: myAnim 2s ease 0s 1 normal forwards;
            padding: 0px;
            user-select: none;
            height: 444px;
            border-radius: 13px;
          }
        }

        .textDisplay {
          display: inline;
          padding-bottom: 50px;
          width: 350px;
          margin: 10px;
          gap: 10px;

          .redTitle {
            color: red;
          }
        }
      }
    }
  }
}

@keyframes myAnim {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
